<template>
    <div>
        <form action="" @submit.prevent="add" id="search">
            <div>
                <div class="card-imgs">
                    <img :src="gathererImgUrl(card.multiverseId)"
                         :alt="card.name">
                    <img :src="scryfallImgUrl(card.scryfallId)"
                         :alt="card.name">
                </div>
                <div>
                    <small>Multiverse ID: {{ card.multiverseId }}</small>
                    <br>
                    <small>Scryfall ID: {{ card.scryfallId }}</small>
                </div>
            </div>

            <div>
                <label>
                    Name<br>
                    <input type="text" name="name" v-model="searchName" required ref="searchNameInput">
                    <small v-show="matchedName && matchedName !== searchName">{{ matchedName }}</small>
                    <span v-if="isLoading">loading...</span><span v-else-if="matches.length === 0">nothing found</span>
                </label>
                <label>
                    Printing - {{ printings.length }}<br>
                    <select2 name="printing" :disabled="card.name === ''" v-model="card.printing" required :options="select2OptionsPrinting"></select2>
                </label>
                <label>
                    Condition<br>
                    <select2 name="condition" v-model="card.condition" required :options="select2OptionsCondition"></select2>
                </label>
                <label>
                    Language<br>
                    <select2 name="language" v-model="card.language" required :options="select2OptionsLanguage"></select2>
                </label>
                <label>
                    Quantity<br>
                    <input type="number" name="quantity" v-model="card.quantity">
                </label>

                <label>
                    Foil <br>
                    <select name="foil" v-model="card.foil">
                        <option :value="key" v-for="(f, key) in { '': '', foil: 'Foil', pre: 'Pre-release' }">{{ f }}</option>
                    </select>
                    <br>
                    Signed <input type="checkbox" name="signed" v-model="card.signed">
                    <br>
                    Alter <input type="checkbox" name="alter" v-model="card.alter">
                </label>

                <input type="submit" value="Add">
            </div>
        </form>

        <div>
            <h2>Inventory</h2>

            Search:
            <input type="search" v-model="inventory.search">
            <span v-if="isLoading">loading...</span>
            <span v-else-if="!inventory.items.length">
                <span @click="addAfterSearch" class="add-after-search">add?</span>
            </span>

            <div class="flex-center">
                <table>
                    <tr><th>Rows</th><td>{{ appSettings.cardCount.rows }}</td></tr>
                    <tr><th>Unique</th><td>{{ appSettings.cardCount.unique }}</td></tr>
                    <tr><th>Total</th><td>{{ appSettings.cardCount.total }}</td></tr>
                </table>
            </div>
            <b-pagination v-model="inventory.pagination.page" :per-page="inventory.pagination.perPage" :total-rows="inventory.pagination.total" limit="9"></b-pagination>
            <per-page v-model="inventory.pagination.perPage" :items="[5, 10, 15, 25, 50, 100]" style="float: right; margin-bottom: 1em;"></per-page>

            <table class="card-list">
                <thead>
                <tr>
                    <th>
                        <label style="font-size: 0.6em;">
                            <input type="checkbox" v-model="inventory.showImages"> Show images
                        </label>
                    </th>
                    <th>Card</th>
                    <th>Qty</th>
                    <th>Set</th>
                    <th>Condition</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in inventory.items">
                    <td>
                        <span v-if="item.multiverseId" v-show="inventory.showImages">
                            <img :src="gathererImgUrl(item.multiverseId)"
                                 :alt="item.name" class="preview-img">
                            <img :src="gathererImgUrl(item.multiverseId)"
                                 :alt="item.name" class="hover-img">
                        </span>
                        <span v-else-if="item.scryfallId" v-show="inventory.showImages">
                            <img :src="scryfallImgUrl(item.scryfallId, 'small')"
                                 :alt="item.name" class="preview-img">
                        <img :src="scryfallImgUrl(item.scryfallId)"
                             :alt="item.name" class="hover-img">
                        </span>
                    </td>
                    <td>
                        {{ item.name }}
                        <span v-if="item.foil"><img src="https://s.tappedout.net/s1/img/foil-icon.jpg" :alt="item.foil"></span>
                        <span v-if="item.language !== 'English'">
                            &mdash;
                            <img :src="'https://s.tappedout.net/s1/img/flag-icons/' + getFlagLanguageCode(item.language) + '.png'"
                                 :alt="item.language">
                            &mdash;
                            {{ item.matchedName }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span @click="decrementCard(item)" class="controls">-</span>
                        {{ item.quantity }}
                        <span @click="incrementCard(item)" class="controls">+</span>
                    </td>
                    <td>
                        <img :src="'https://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set=' + item.printing + '&size=small'"
                             :alt="item.printing"
                             class="set-icon"> &mdash;
                        {{ item.printing }} &mdash; {{ sets[item.printing] }}</td>
                    <td class="text-center">
                        {{ item.condition }}
                        &mdash;
                        {{ conditions[item.condition] }}
                    </td>
                </tr>
                </tbody>
            </table>

            <b-pagination v-model="inventory.pagination.page" :per-page="inventory.pagination.perPage" :total-rows="inventory.pagination.total" limit="9"></b-pagination>
            <per-page v-model="inventory.pagination.perPage" :items="[5, 10, 15, 25, 50, 100]" style="float: right; margin-bottom: 1em;"></per-page>

        </div>
    </div>
</template>

<script>
import select2 from "./select2";
import { BPagination } from 'bootstrap-vue';
import perPage from "./perPage";

export default {
    components: {
        select2,
        BPagination,
        perPage,
    },

    data () {
        return {
            searchName: '',
            matchedName: '',
            matches: [],
            isLoading: false,

            card: this.getEmptyCard(),

            printings: [],
            names: [],
            multiverseIds: [],
            scryfallIds: [],
            setRarities: [],

            appSettings: window.appSettings,
            conditions: window.appSettings.conditions,
            languages: window.appSettings.languages,
            sets: window.appSettings.sets,

            // Inventory
            inventory: {
                search: '',
                items: [],
                pagination: {
                    perPage: 15,
                    page: 1,
                    pages: 1,
                    total: 0,
                },
                showImages: true,
            },
        };
    },

    mounted () {
        $('input[name="name"]')
        .autocomplete({
            source: async (request, response) => {
                this.isLoading = true;
                const matches = await this.$axios.get('/api/search/' + request.term);
                this.isLoading = false;
                console.log(matches.data);

                const data = Object.values(matches.data);
                this.matches = data;

                // if there's only one match, select it
                if (data.length === 1) {
                    $('input[name="name"]').data('ui-autocomplete')
                        ._trigger('select', 'autocompleteselect', {
                            item: data[0],
                        });
                    $('input[name="name"]').autocomplete('close');
                } else {
                    response(data);
                }
            },
            select: (event, ui) => {
                this.searchName = ui.item.name;
                this.matchedName = ui.item.matchedName;
                this.printings = ui.item.printings.sort((a, b) => {
                    const aIdx = Object.keys(window.appSettings.sets).indexOf(a);
                    const bIdx = Object.keys(window.appSettings.sets).indexOf(b);
                    return aIdx > bIdx ? -1 : aIdx < bIdx ? 1 : 0;
                });
                this.names = ui.item.names;
                this.multiverseIds = ui.item.multiverseIds;
                this.scryfallIds = ui.item.scryfallIds;
                this.setRarities = ui.item.setRarities;

                this.card.name = ui.item.name;
                this.card.matchedName = ui.item.matchedName;
                this.card.language = ui.item.matchedLanguage;

                const multiverseIds = Object.values(ui.item.multiverseIds);
                const multiverseIdsSet = ui.item.multiverseIds[this.card.language] || multiverseIds[0];
                this.card.multiverseId = Object.values(multiverseIdsSet).find((item) => item !== null);
                this.card.printing = Object.keys(multiverseIdsSet).find((key) => multiverseIdsSet[key] === this.card.multiverseId);
                this.card.scryfallId = this.scryfallIds[this.card.printing];
                this.rarity = this.setRarities[this.card.printing];

                // if there's only one printing, select it
                if (ui.item.printings.length === 1) {
                    this.card.printing = ui.item.printings[0];
                    this.card.rarity = this.setRarities[this.card.printing];
                }

                return false;
            },
            minLength: 3,
        })
        .autocomplete('instance')._renderItem = (ul, item) => {
            let name = `${item.name}`;

            if (item.name !== item.matchedName) {
                const languageCode = this.getFlagLanguageCode(item.matchedLanguage);
                //const languageFlag = `<img src="https://cdn.wpml.org/wp-content/plugins/sitepress-multilingual-cms/res/flags/${languageCode}.png">`;
                const languageFlag = `<img src="https://s.tappedout.net/s1/img/flag-icons/${languageCode}.png" alt="${languageCode}">`;
                name += ` &mdash; ${item.matchedName} - ${languageFlag}`;
            }

            return $('<li>')
                .append(name)
                .appendTo(ul);
        };

        this.$watch('card.printing', (value) => {
            if (this.multiverseIds[this.card.language]) {
                this.card.multiverseId = this.multiverseIds[this.card.language][value];
            } else {
                this.card.multiverseId = null;
            }

            this.card.scryfallId = this.scryfallIds[value] || '000';
        });
        this.$watch('card.language', (value) => {
            if (this.card.printing && this.multiverseIds[value]) {
                this.card.multiverseId = this.multiverseIds[value][this.card.printing];
            } else {
                this.card.multiverseId = null;
            }

            this.card.matchedName = this.names[value] || this.card.name;
        });

        // display initial inventory list
        this.searchInventory();

        this.debounceSearchInventory = _.debounce(this.searchInventory, 500);
        this.$watch('inventory.search', async (value) => {
            this.inventory.pagination.page = 1;
            this.debounceSearchInventory();
        });

        this.$watch('inventory.pagination.page', async (value) => {
            this.debounceSearchInventory();
        });
        this.$watch('inventory.pagination.perPage', async (value) => {
            this.inventory.pagination.page = 1;
            //this.debounceSearchInventory();
            this.searchInventory();
        });
    },

    computed: {
        select2OptionsPrinting () {
            const tpl = (item) => {
                if (item.id === -1 || !item.id) {
                    return item.text;
                }

                /*
                return $(
                    '<span>' +
                    '<img src="https://img.scryfall.com/sets/' + item.id.toLowerCase() + '.svg" alt="' + item.id + '" style="max-height: 30px;max-width: 40px;">' +
                    '&nbsp;&mdash;&nbsp;' + this.sets[item.id] +
                    '</span>'
                );*/

                return $(
                    '<span>' +
                    '<img src="https://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set=' + item.id +
                    '&size=small&rarity=' + this.setRarities[item.id] + '" alt="' + item.id + '">' +
                    '&nbsp;&mdash;&nbsp;' + this.sets[item.id] +
                    '</span>'
                );
            };

            return {
                allowClear: true,
                placeholder: {
                    id: -1,
                    text: '- - -',
                },

                data: this.printings.map((value) => { return { id: value, text: this.sets[value] } }),

                templateResult: tpl,
                templateSelection: tpl,
            };
        },

        select2OptionsCondition () {
            const tpl = (item) => {
                return $(
                    '<span>' +
                        item.id +
                        '&nbsp;&mdash;&nbsp;' +
                        item.text +
                    '</span>'
                );
            };
            return {
                data: _.map(this.conditions, (c, key) => { return { id: key, text: c } }),
                templateResult: tpl,
                templateSelection: tpl,
            };
        },

        select2OptionsLanguage () {
            const tpl = (item) => {
                let flag = '';
                switch (item.id) {
                    case 'English':
                        flag = '<img src="https://cdn.wpml.org/wp-content/plugins/sitepress-multilingual-cms/res/flags/' +
                            this.getFlagLanguageCode(item.id).toLowerCase() + '.png" ' +
                            `alt="${item.text}">`;
                        break;
                    default:
                        flag = '<img src="https://s.tappedout.net/s1/img/flag-icons/' + this.getFlagLanguageCode(item.id) + '.png" alt="' + item.id + '">';
                        break;
                }

                return $(
                    '<span>' +
                        flag +
                        '&nbsp;&mdash;&nbsp;' +
                        item.text +
                    '</span>'
                );
            };

            return {
                data: Object.keys(this.multiverseIds).map((value) => { return { id: value, text: value } }),
                // data: this.languages.map((value) => { return { id: value, text: value } }),
                templateResult: tpl,
                templateSelection: tpl,
            };
        },
    },

    methods: {
        getEmptyCard (overwrite) {
            return _.merge(
                {
                    name: '',
                    printing: '',
                    condition: 'NM',
                    language: 'English',
                    quantity: 1,
                    foil: false,
                    signed: false,
                    alter: false,
                    multiverseId: '',
                    scryfallId: '',
                    matchedName: '',
                    rarity: '',
                },
                overwrite
            );
        },
        getFlagLanguageCode (language) {
            return {
                'German': 'DE',
                'English': 'EN',
                //'Japanese': 'JP',
                'Japanese': 'JA',
                'French': 'FR',
                'Spanish': 'ES',
                'Portuguese (Brazil)': 'PT',
                'Italian': 'IT',
                'Russian': 'RU',
                'Korean': 'KO',
                'Chinese Simplified': 'ZH',
            }[language];
        },
        gathererImgUrl (multiverseId) {
            if (!multiverseId) {
                return '/img/card-placeholder.jpg';
            }

            return 'https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=' +
                (multiverseId ? multiverseId: '0') +
                '&type=card';
        },
        scryfallImgUrl (scryfallId, size = 'normal') {
            if (!scryfallId || scryfallId === '000') {
                return '/img/card-placeholder.jpg';
            }

            const firstDigit = scryfallId.charAt(0);
            const secondDigit = scryfallId.charAt(1);
            return `https://img.scryfall.com/cards/${size}/front/${firstDigit}/${secondDigit}/${scryfallId}.jpg`;
        },

        async add () {
            await this.$axios.post('/api/add', {
                card: this.card,
            });

            this.searchName = '';
            this.matchedName = '';
            this.card = this.getEmptyCard({ condition: this.card.condition });
            this.$refs['searchNameInput'].focus();
        },

        async searchInventory () {
            this.isLoading = true;
            const { data: result } = await this.$axios.get('/api/inventory/search/' + this.inventory.search, {
                params: {
                    perPage: this.inventory.pagination.perPage,
                    page: this.inventory.pagination.page,
                },
            });
            this.isLoading = false;

            console.log(result);
            this.inventory.pagination.total = result.total;
            this.inventory.pagination.pages = Math.ceil(result.total / result.per_page);
            this.inventory.items = result.data;
        },

        addAfterSearch () {
            this.searchName = this.inventory.search;
            $('input[name="name"]').autocomplete('search', this.searchName);
        },

        incrementCard (card) {
            this.setCardQuantity(card, card.quantity + 1);
        },
        decrementCard (card) {
            this.setCardQuantity(card, card.quantity - 1);
        },
        async setCardQuantity (card, quantity) {
            this.isLoading = true;
            await this.$axios.post('/api/inventory/setQuantity', {
                card,
                quantity,
            });
            this.isLoading = false;

            card.quantity = quantity;
        },
    },
}
</script>

<style lang="scss">
body {
    padding: 1em 0;
}

label {
    display: block;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

form#search {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    > div {
        margin: 0 1em;
    }

    input:not([type="checkbox"]),
    select {
        width: 100%;
    }
}

.ui-autocomplete {
    width: 100% !important;
}

img.ui-menu-item-wrapper {
    padding: 0 !important;
}

.select2 {
    //width: 300px !important;
    width: 100% !important;
    min-width: 350px !important;
}

.add-after-search {
    cursor: pointer;
}

.controls {
    cursor: pointer;
}

.card-imgs {
    height: 310px;

    img {
        max-height: 310px;
    }
}

.card-list {
    width: 100%;

    thead {
        tr {
            background-color: #efefef;
        }

        th {
            text-align: center;
        }
    }

    tbody {
        td {
            padding: 1em 1.5em;
        }
    }

    tr {
        &:nth-child(even) {
            background-color: #efefef;
        }
    }

    td {
        position: relative;
    }

    tr td {
        &:first-child {
            width: 80px;
            text-align: center;
            box-sizing: content-box;
        }
    }

    .preview-img {
        max-height: 80px;

        &:hover + .hover-img {
            display: inline-block;
        }
    }
    .hover-img {
        display: none;
        position: absolute;
        left: 80px;
        bottom: 0;
        max-width: none;
        z-index: 10;
        max-height: 50vh;
    }

    .set-icon {
        max-width: 21px;
    }
}

.pagination {
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
