<template>
    <select v-model="value">
        <option v-for="pp in items" :value="pp">{{ pp }}</option>
    </select>
</template>

<script>
    export default {
        props: ['items', 'value'],

        watch: {
            value (value) {
                this.$emit('input', value);
            },
        },
    }
</script>
