<template>
    <select>
        <slot></slot>
    </select>
</template>

<script>
    export default {
        props: ['options', 'value'],

        mounted () {
            const vm = this;
            $(this.$el).select2(this.options)
            .on('change', function () {
                vm.$emit('input', this.value || vm.value);
            })
            .val(this.value)
            .trigger('change');
        },

        watch: {
            value (value) {
                $(this.$el).val(value).trigger('change');
            },
            options (options) {
                $(this.$el).empty().select2(this.options);
                $(this.$el).val(this.value).trigger('change');
            },
        },

        destroyed () {
            $(this.el).off().select2('destroy');
        }
    }
</script>
